body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    display: inline-block;
    background: gray;
    height: 200px;
    width: 200px;
    transform-origin: bottom right;
    transition: transform 4s;
}

.box:hover{
    transform: rotateZ(150deg)
}