label{
    position: relative;
    top: 100px;
    left: 100px;
}
.btn{
    display: inline-block;
    height: 50px;
    width: 100px;
    background: #2f3640;
    border-radius: 50px;  
    transition: background 0.6s ease;
}
.check{
    display: none;
}
.btn::before{
    content: "";
    height: 60px;
    width: 60px;
    background: gray;
    border-radius: 50px;
    position: absolute;
    top: -41px;
    left: -6px;
    transition: all 0.6s ease;
}
.check:checked + .btn{
    background: #a8a7a7;   
}
.check:checked + .btn::before{
    background: #00a8ff;
    left: 45px;
}